<h1>Reset Password for <%= @user.email %></h1>

<%= form_for @user do |f| %>
	<label>Password:
		<input type="password" name="user[password]">
	</label>
	<label>Confirm Password:
		<input type="password" name="user[password_confirmation]">
	</label>
	<%= f.submit "Save" %>
<% end %>