<section class="comment-holder">
  <div class="comment-body">
      <%= render "images/vote_box", up_url: upvote_comment_url(comment), down_url: downvote_comment_url(comment), votes: (comment.respond_to?(:votes) ? comment.votes : 0), model: comment %>
      <div class="comment-text">
        <%= comment.body %>
      </div>
    </div>
    <% user = comment.user %>
  <div class="comment-links">
    <%= link_to user.email, user_url(user) %>
    <%= link_to "Reply", new_image_comment_url(image_id: image_id, parent_comment_id: comment.id), class: "comment-reply", "data-remote" => "true" %>
  </div>
</section>