<h1><%= @user.email %>'s Page</h1>


<ul class="user-image-list #bdc3c7">
  <% @user.images.each do |image| %>
    <li>
      <img class="user-image-list-img" src="<%= image.image.url %>">
      <h3><%= image.title %></h3>
      <p><%= image.description %></p>
    </li>
  <% end %>
</ul>