/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

body, html {
  font-family: Arial, sans-serif;
  background: #ecf0f1;
  position: relative;
  height: 100%;
  min-height: 100%;
}

.droppable {
  display: none;
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.dropmask {
  display: none;
}

#dropmask.showing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.droppable.showing {
  display: block;
}

.droppable div {
  margin: auto;
  width: 690px;
  padding-top: 30%;
}

.droppable div p {
  color: white;
  font-size: 40pt;
  text-align: center;
}

h1 {
  font-size: 24pt;
  font-weight: bold;
  padding: 10px;
}

h2 {
  font-size: 18pt;
  font-weight: bold;
  padding-bottom: 10px;
  padding-right: 5px;
}

h3 {
  font-size: 16pt;
  font-weight: bold;
  padding-bottom: 10px;
  padding-right: 5px;
}

div.content {
  padding-top: 57px;
  background: #bdc3c7;
  width: 940px;
  margin: 0 auto;
  min-height: 100%;
}

div.image-show {
  padding: 15px;
  float: left;
  width: 600px;
}

.image-show p {
  padding: 5px;
  padding-right: 40px;
}

.link-box {
  padding-top: 15px;
  float: left;
  width: 280px;
}

.link-box input {
  width: 100%;
}

.edit-form {
  clear: both;
}

.comment-form {
  clear: both;
  padding: 15px;
}

.comment-list {
  padding: 15px;
}

.comment-holder {
  padding: 5px;
}

.user-image-list {
  padding: 15px;
}

.user-image-list-item {
  clear: left;
  padding-bottom: 15px;
  float: left;
  position: relative;
}

.user-image-list-img {
  display: inline-block;
  vertical-align: middle;
}

.user-image-list-body {
  display: inline-block;
  vertical-align: middle;
  width: 700px;
}

.user-image-buttons {
  float: right;
  padding: 5px;
  display: inline;
}

.user-image-list-buttons {
  padding: 5px;
  display: block;
  float: right;
}

.user-image-list-buttons-holder {
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
}

ul ul {
  margin-left: 15px;
}

.comment-body {
  background: #ecf0f1;
  padding: 8px;
  border-bottom: 1px solid #999;
}

.comment-text {
  display: inline-block;
  vertical-align: middle;
  max-width: 800px;
}

.comment-links {
  background: #ecf0f1;
  padding: 2px;
}

.comment-links a {
  font-size: 9pt;
  color: #333;
  text-decoration: none;
  padding: 0 5px;
}

.comment-links a:hover {
  color: white;
}




.image-list {
  padding: 15px;
  width: 600px;
  float: left;
}

.image-list > li {
  float: left;
  padding: 0 10px 10px 0;
}

.file-field {
/*  margin: 0 auto;*/
  display: inline;
  padding-top: 5px;
}

.new_image.highlighted {
  padding: 10px;
  border: 5px solid white;
}

.new_image {
  float: right;
  padding: 15px;
  background: #34495e;
  margin: 15px 30px 15px 0;
  text-align: center;
  color: #eee;
}

#new-image-centered {
  margin: 0 auto;
  float: none;
  width: 350px;
}

.flash-notice {
  width: 100%;
  background: #2ecc71;
  padding-top: 47px;
  color: white;
  display: none;
}

.flash-notice p {
  margin: 0 auto;
  padding: 5px;
}


.top-bar a {
  color: white;
  text-decoration: none;
}

.top-bar {
  background: #2c3e50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 640px;
  z-index: 99;
}

.top-bar li {
  padding: 15px;
  height: 17px;
}

.top-bar button {
  background: none!important;
  border: none;
  padding: 0!important;
}

.top-bar li:hover {
  background: #34495e;
}

.top-left > li {
  float: left;
}

.top-right > li {
  float: right;
  position: relative;
}

.top-bar-dropdown {
  display: none;
  background: #34495e;
  position: absolute;
  right: 0;
  top: 47px;
  padding: 15px;
}

.top-right.show-login, .top-right.show-signup {
  background: #34495e;
}

.show-login .top-bar-dropdown, .show-signup .top-bar-dropdown {
  display: block;
}

.content > .vote-box {
  clear: both;
  padding: 0 20px;
}

.comment-list .vote-box {
  clear: both;
  display: inline-block;
  vertical-align: middle;
}

.upvote {
  border: 0;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  background: green;
}

.downvote {
  border: 0;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  background: red;
}

.vote-button-holder {
  display: inline-block;
  vertical-align: middle;
}

.vote-number {
  display: inline-block;
  vertical-align: middle;
}

.image-list > li {
  position: relative;
}

.hover-vote {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.image-list > li:hover .hover-vote {
  display: block;
}