/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

body, html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  background: #ecf0f1;
  position: relative;
/*  height: 100%;
  min-height: 100%;*/
}

.noscroll {
  overflow: hidden;
  margin-right: 16px;
}

.show-page-holder {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
/*  min-height: 100%;*/
  z-index: 100;
}

.login-overlay {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 198;
}

.transparent-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 100;
}

.transparent-background.login {
  z-index: 199;
}

.nested-show-page {
  position: relative;
/*  margin: 50px auto;*/
  width: 940px;
  min-height: 90%;
  height: 90%;
  z-index: 102;
  overflow-y: scroll;
}

.nested-scroll-fix {
  position: relative;
  margin: 50px auto;
  width: 924px;
  min-height: 100%%;
  height: 100%;
  z-index: 102;
  overflow: hidden;
}

.nested-show-page .link-box {
  color: #ecf0f1;
  margin-top: 30px;
}

.nested-show-page .image-show {
  color: #ecf0f1;
}

.nested-show-page > .vote-box {
  clear: both;
  padding: 0 20px;
  color: #ecf0f1;
}

.droppable {
  display: none;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 102;
}

#dropmask {
  display: none;
  z-index: 103;
}

#dropmask.showing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.droppable.showing {
  display: block;
}

.error {
  background: rgba(99, 9, 9, 0.8);
}

.droppable div {
  margin: auto;
  width: 690px;
  padding-top: 30%;
}

.droppable div p {
  color: #ecf0f1;
  font-size: 40pt;
  text-align: center;
}

h1 {
  font-size: 24pt;
  font-weight: bold;
  padding: 10px;
}

h2 {
  font-size: 18pt;
  font-weight: bold;
  padding-bottom: 10px;
  padding-right: 5px;
}

h3 {
  font-size: 16pt;
  font-weight: bold;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-top: 10px;
}

h4 {
  font-size: 12pt;
}

div.content {
  padding-top: 57px;
  width: 940px;
  margin: 0 auto;
  min-height: 100%;
}

div.image-show {
  padding: 15px;
  float: left;
  width: 600px;
}

.image-show p {
  padding: 5px;
  padding-right: 40px;
}

.link-box {
  padding-top: 15px;
  float: left;
  width: 280px;
}

.link-box input {
  width: 100%;
}

.edit-form {
  clear: both;
}

.comment-form {
  clear: both;
  padding: 15px;
}

.comment-list {
  padding: 15px;
}

.comment-holder {
  padding: 5px;
}

.user-image-list {
  padding: 15px;
}

.user-image-list-item {
  clear: left;
  padding-bottom: 15px;
  float: left;
  position: relative;
}

.user-image-list-img {
  display: inline-block;
  vertical-align: middle;
}

.user-image-list-body {
  display: inline-block;
  vertical-align: middle;
  width: 700px;
}

.user-image-buttons {
  float: right;
  padding: 5px;
  display: inline;
}

.user-image-list-buttons {
  padding: 5px;
  display: block;
  float: right;
}

.user-image-list-buttons-holder {
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
}

ul ul {
  margin-left: 15px;
}

.comment-body {
  background: #ecf0f1;
  padding: 8px;
  border-bottom: 1px solid #999;
}

.comment-text {
  display: inline-block;
  vertical-align: middle;
  max-width: 800px;
}

.comment-links {
  background: #ecf0f1;
  padding: 2px;
}

.comment-links a {
  font-size: 9pt;
  color: #333;
  text-decoration: none;
  padding: 0 5px;
}

.comment-links a:hover {
  color: #ecf0f1;
}




.image-list {
  padding: 15px;
  width: 600px;
  float: left;
  background: #bdc3c7;
  padding-right: 6px;
}

.image-list > li {
  float: left;
  padding: 0 10px 10px 0;
}

.file-field {
  display: inline;
  padding-top: 5px;
}

.new_image.highlighted {
  padding: 10px;
  border: 5px solid #ecf0f1;
}

.new_image {
/*  float: right;*/
  padding: 15px;
  background: #34495e;
  margin-bottom: 15px;
/*  margin: 0 30px 15px 0;*/
  text-align: center;
  color: #eee;
}

#new-image-centered {
  margin: 0 auto;
  float: none;
  width: 350px;
}

.flash-notice {
  position: fixed;
  top: 47px;
  left: 0;
  width: 100%;
  background: #2ecc71;
  color: #ecf0f1;
  display: none;
}

.flash-notice p {
  margin: 0 auto;
  padding: 5px;
  z-index: 99;
}


.top-bar a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 15px;
  height: 17px;
  display: block;
}

.top-bar {
  background: #2c3e50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 640px;
  z-index: 99;
}

.top-bar li {

}

.top-bar button {
  background: none!important;
  border: none;
  padding: 0!important;
}

.top-bar li:hover a {
  background: #34495e;
}

.top-left > li {
  float: left;
}

.top-right > li {
  float: right;
  position: relative;
}

a {
  color: #ecf0f1;
}

label {
  color: #ecf0f1;
  font-size: 16pt;
  font-weight: bold;
  padding-bottom: 15px;
  display: block;
}

.login-page input, .signup-page input {
  display: inline-block;
  width: 180px;
  margin-bottom: 15px;
}

.login-page input[type=submit], .signup-page input[type=submit] {
  margin-top: 5px;
  margin-bottom: 15px;
  display: inline-block;
  width: 60px;
}


.login-page {
  position: relative;
  display: none;
  text-align: center;
  background: #34495e;
  margin: 25% auto;
  padding: 15px;
  z-index: 200;
  color: #ecf0f1;
  width: 250px;
  font-size: 12px;
}

.signup-page {
  position: relative;
  display: none;
  text-align: center;
  background: #34495e;
  margin: 25% auto;
  padding: 15px;
  z-index: 200;
  color: #ecf0f1;
  color: #ecf0f1;
  width: 250px;
  font-size: 12px;
}

.signup-link {

}

.signup-page.show, .login-page.show {
  display: block;
}

.content > .vote-box {
  clear: both;
  padding: 0 20px;
}

.comment-list .vote-box {
  clear: both;
  display: inline-block;
  vertical-align: middle;
}

.upvote {
  border: 0;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  background: #27ae60;
  opacity: 0.4;
}

.upvote.selected {
  background: #2ecc71;
  opacity: 1;
}

.upvote.selected:hover {
  background: #27ae60;
  opacity: 0.4;
}

.downvote {
  border: 0;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  background: #c0392b;
  opacity: 0.4;
}

.downvote.selected {
  background: #e74c3c;
  opacity: 1;
}

.downvote.selected:hover {
  background: #c0392b;
  opacity: 0.4;
}

.upvote:hover, .downvote:hover {
  opacity: 1;
  font-weight: bold;
}



.vote-button-holder {
  display: inline-block;
  vertical-align: middle;
}

.vote-number {
  display: inline-block;
  vertical-align: middle;
}

.image-list > li {
  position: relative;
}

.hover-vote {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: #95a5a6;
  opacity: 0.85;
  color: #ecf0f1;
  display: none;
}

.image-list > li:hover .hover-vote {
  display: block;
}

.sidebar {
  float: right;
  position: fixed;
/*  right: 40px;*/
  margin: 0 30px 15px 640px;
  width: 271px;
}

.sidebar-image-list {
/*  float: right;*/
  padding: 10px;
/*  margin: 0 30px 15px 0;*/
  width: 251px;
  background: #BDC3C7;
}

.sidebar-image-list-item {
  vertical-align: middle;
  padding: 5px 10px;
}

.sidebar-image-list-img {
  width: 60px;
  display: inline-block;
  vertical-align: middle;
}

.sidebar-image-list-body {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;

}

.sidebar-image-list-body a {
 text-decoration: none;
 color: #2C3E50;
}

.sidebar-image-list h3 {
  text-align: center;
}
