<%= render "comments/comment_body", comment: comment %>
<ul>
  <% comments_by_parent_id[comment.id].each do |comment| %>
    <li>
      <%= render "comment", comment: comment, comments_by_parent_id: comments_by_parent_id %>
    </li>
  <% end %>
</ul>