<form action="<%= image_comments_url(image_id: image_id) %>" method="post" class="comment-form" data-remote="true">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <textarea name="comment[body]"></textarea>

  <input type="hidden" name="comment[parent_comment_id]" value="<%= parent_comment_id %>">

  <input type="submit" value="Post">

</form>