<%= form_for image, url: { action: "create" }, html: { id: 'new-image' } do |f| %>
  <h3>Upload an image:</h3>
  <%= f.file_field :image, class: "file-field" %><br><br>
  <h3>...or paste a URL:</h3>
  <%= f.text_field :image_url %><br><br>

  <%= f.submit "Upload" %>
<% end %>