<div class="vote-box">
  <div class="vote-button-holder">
    <%= button_to "+", up_url, method: :post, class: "upvote#{ ' selected' if up_selected(model) }", form_class: "upvote-form", remote: true %>
    <%= button_to "-", down_url, method: :post, class: "downvote#{ ' selected' if down_selected(model) }", form_class: "downvote-form", remote: true %>
  </div>
  <div class="vote-number"><%= votes || 0 %></div>
</div>