<ul class="image-list">
  <% @images.each do |image| %>
    <li>
      <%= link_to image_tag(image.image.url(:thumb)), image_url(image) %>
    </li>
  <% end %>
</ul>

<%= render 'upload_box', image: Image.new %>