<ul class="image-list">
  <%= render "image_items", images: @images %>
</ul>

<section class="sidebar group">
  <%= render 'upload_box', image: Image.new %>

  <%= render 'recent_images', images: @recent_images, title: @title %>
</section>